body {
    background: #E8E8E8;
}

/* 面包屑 */
.shop-bread-nav-wrapper {
    margin: 0;
}

.shop-bread-nav {
    background: transparent;
}

.shop-bread-nav-item, .shop-bread-nav-separator {
    color: #999;
}

.shop-bread-nav {
    padding: 0;
}

/* 文章详情 */
.shop-article-list {
    background: #FFFFFF;
    margin-top: 2.667vw;
    padding: 4vw 0 0;
}

.shop-article-title {
    display: table;
    width: 100%;
    padding-right: 4.2667%;
    box-sizing: border-box;
}

.shop-title {
    font-size: 4.8vw;
    line-height: 8vw;
    color: #333333;
    font-weight: bold;
    padding: 0 4.2667%;
}

.shop-product-next {
    display: table-cell;
    width: 16.533vw;
    overflow: visible;
    vertical-align: middle;
}

.shop-product-next-content {
    display: table;
}

.shop-product-next-text {
    display: table-cell;
    font-size: 3.2vw;
    line-height: 4.8vw;
    color: #999999;
    vertical-align: middle;
    padding-right: 1.6vw;
    white-space: nowrap;
}

.shop-product-next-icon {
    display: table-cell;
    width: 2.133vw;
    height: 3.733vw;
    background: url("../img/next_icon.png") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
}

.shop-article-list-box {
    width: 100%;
    box-sizing: border-box;
    padding: 0.533vw 0;
}

.shop-article-list-item {
    padding: 0 4.2667%;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shop-article-link {
    display: inline-block;
    font-size: 3.733vw;
    line-height: 6.4vw;
    color: #333333 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3.733vw 0;
    width: 62vw;
}

.shop-article-time {
    color: #999999;
    line-height: 6.4vw;
    padding: 3.733vw 0;
    font-size: 3.733vw;
    float: right;
}

.shop-article-detail-img {
    padding: 5.333vw 5.333vw 0 5.333vw;
    line-height: 0;
}

.shop-article-detail-img img {
    width: 100%;
    margin-bottom: 2.667vw;
}

.shop-article-detail, .shop-article-list {
    margin: 0;
    margin-top: 2.667vw;
    border-radius: 0;
}
.shop-article-detail{margin-top: 0;}
.shop-article-list-item:last-of-type {
    border: 0;
}